<div id="pagefoot">
<div id="legalpanel">
 <p id="copyright">&copy; <a href="https://spamtagger.org/" target="_blank">www.spamtagger.org</a></p>
 <!-- Resellers: Place here your copyright --><p id="company"></p>
</div>
</div>
