[Unit]
Description=Fangfrisch timer for SpamTagger
After=network.service network-online.target

[Timer]
OnUnitActiveSec=1h

[Install]
WantedBy=spamtagger.target
