[Unit]
Description=Greylist Daemon socket for SpamTagger
Before=exim4@1.service
PartOf=greylistd.service

[Socket]
ExecStartPre=+/usr/spamtagger/bin/dump_greylistd_config.pl
ListenStream=/var/spamtagger/run/greylistd/socket
SocketMode=0660
SocketUser=greylist
SocketGroup=greylist
Service=greylistd.service

[Install]
WantedBy=sockets.target
