[Unit]
Description=Uncomplicated firewall for SpamTagger
Documentation=man:ufw(8)
DefaultDependencies=no
After=mariadb@replica.service first-boot-complete.target
# Don't start before network. UFW is bound to SpamTagger.
Before=
Wants=

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/ufw/ufw-init start quiet
ExecStop=/usr/lib/ufw/ufw-init stop
ExecStartPre=/usr/spamtagger/bin/dump_firewall.pl

[Install]
WantedBy=spamtagger.target
